@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';
@import 'variables';



@import '~bulma/sass/utilities/derived-variables.sass';
$addColors: (
  'ivoryblack': ($ivoryblack, $ivoryblack-invert)
);
$colors: map-merge($colors, $addColors);

@import '~bulma/bulma';

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.navbar-brand {
  min-width: 158px;
}

.navbar-brand > a.navbar-item:hover {
  background-color: transparent !important;
}

.footer-logo {
  width: 20%;
}

.footer-links-padding {
  padding: 1rem 1rem 2.5rem;
}

section {
  padding: 3rem 1.5rem;
}

.underline {
  border-bottom: 4px $blue solid;
}

.highlight {
  color: $highlight;
}

.img-circular {
  border-radius: 50%;
}

.overlay-white {
  background: rgba(255, 255, 255, 0.7);
}

.bg {
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}

.bg-code {
  background-image: url('./img/code.jpg');
}

.bg-raleigh {
  background-image: url('./img/raleigh_map_watercolor.jpeg');
}

.bg-nashville {
  background-image: url('./img/nashville_map_watercolor.jpeg');
}

.bg-richmond {
  background-image: url('./img/richmond_map_watercolor.jpeg');
}

@include mobile {
  .bg-raleigh, .bg-nashville, .bg-richmond {
    background-image: none;
  }

  .overlay-white {
    padding: 1rem;
  }
}
