@import '~bulma/sass/utilities/initial-variables';

$primary: #0B3C5D;
$blue: #328CC1;
$highlight: #D9B310;
$ivoryblack: #1D2731;

$link: $blue;
$link-hover: $highlight;

@import '~bulma/bulma';

section {
  padding: 3rem 1.5rem;
}

.underline {
  border-bottom: 4px $blue solid;
}

.highlight {
  color: $highlight;
}

.img-circular {
  border-radius: 50%;
}
